<% include ./partials/header%>

<h1> Your comment has been submitted. Thank you! </h1>
<div>
<a href="/comment"> Make another comment </a>
</div>
<a href= "/"> main page </a>

<% include ./partials/footer %>
